@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-marquee {
  animation: 15s marquee linear infinite;
}

.animate-jump {
  animation: 2s jump infinite;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
