@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .animate-marquee {
      animation: linear 15s infinite marquee;
    }

    .animate-inverse-marquee {
      animation: linear 15s infinite inverse-marquee;
    }

    .animate-none {
      animation: none;
    }
  }
}

.animate-jump {
  animation: 2s jump infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes inverse-marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scrollbar-width: 0;
  scrollbar-width: none;
}
